html, body {
  height: 100%;
}
  
body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Helvetica Neue;
}

.container {
  width: 500px;
}

.form-control.active {
  box-shadow: 0 0 5px 1px green;
}invalid {
  box-shadow: 0 0 5px 1px red;
}

.errors {
  color: red;
  font-size: 12px;
  margin: 5px;
}span {
  display: block;
}

.note {
  color: gray;
  margin: 8px 0;
}